# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.pickle
*.pkl
*.csv



Wörter StGB.csv
Wörter StGB.pdf

# C extensions
*.so

# Distribution / packaging
.Python
1990/
2012/
_archive/
build/
develop-eggs/
dist/
downloads/
eggs/
